@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ocorreu um erro!</h1>
<h2 class="text-danger">Infelizmente um erro ocorreu em sua solicitação. 
    <br />
    Tente novamente mais tarde...
</h2>

<h3>Informação para  o desenvolvedor:</h3>
<span class="code">
    @Model.Erro
</span>


